.titulo1 {
	font-size: 2em;
}
.titulo2{
	font-size: 3em;
}

.titulo3{
	font-size: 2em;
	color: black;
}
.titulo4{
	font-size: 2.1em;
}
.vh{
	height: 35vh;
}
.btt{
	margin-top: -100px;
}

.reduceRow{
	margin-bottom: 0!important;
}